<div class="container py-5">
  <h1 class="mb-4">Admin Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Total Products</div>
        <div class="card-body">
          <h5 class="card-title"><%= @product_count %> products</h5>
            <p class="card-text">
             <%= link_to 'View Products', admin_products_path, class: 'btn btn-light' %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Total Categories</div>
        <div class="card-body">
          <h5 class="card-title"><%= @category_count %> categories</h5>
            <p class="card-text">
              <%= link_to 'View Categories', admin_categories_path, class: 'btn btn-light' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
